*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/assets/databases/huntinglogs.db-journal
app/Hunting-Log-Helper-release-1.0.apk
